<!DOCTYPE html>
<html>
  <head>
    <title>Unofficial filmaffinity  API | Home</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/index.css">
  </head>
  <body>
    <header>
      <h1>Unofficial filmaffinity <small>API</small></h1>
    </header>
    <section class="container">
      <article id="description">
        <h3>RESTful API</h3>
        <p>This RESTful API provides programmatic access to read data from Filmaffinity.com in english and spanish using this <a href="https://rubygems.org/gems/filmaffinity">Ruby gem</a>.</p>
      </article>
      <article id="features">
        <h3>Features</h3>
        <ul>
          <li>
            <p><b>GET </b> <a href="/api/top?lang=EN">/top?lang=LANGUAGE</a> <span class="label label-info">new</span></p>
            <p>Returns an array with Top 30 movies, just including <code>id</code> and <code>title</code></p>
          </li>
          <li>
            <p><b>GET </b><a href="/api/search?q=truman&lang=EN">/search?q=query&lang=LANGUAGE</a> <span class="label label-info">new</span></p>
            <p>Returns an array with movies that includes your query in the movie title, just including <code>id</code> and <code>title</code></p>
          </li>
          <li>
            <p><b>GET </b><a href="/api/movie/504889?lang=EN&imgur_id=nil">/movie/:id?lang=LANGUAGE&imgur_id=YOUR_CLIENT_ID</a> <span class="label label-info">new</span></p>
            <p>Returns an object that contains full movie data</p>
          </li>
        </ul>
        <h3>Options</h3>
        <ul>
          <li>
            <p>LANGUAGE: "EN" or "ES".</p>
          </li>
          <li>
            <p>YOUR_CLIENT_ID: "Your_Imgur_API_client_ID" (Delete de imgur_id query or leave to "nil" to get a filmaffinity url on movie-poster request).</p>
          </li>
        </ul>
      </article>
      <article>
        <h3>Feedback and contribution</h3>
        <p>If you find any issues with the API or you want to contribute, please use our <a href="https://github.com/davidsantosmerino/filmaffinity-api">github repository</a>.</p>
      </article>
    </section>
  </body>
</html>
